{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-header">Dashboard</div>
        <div class="card-body">
            <p>You are logged in!</p>
        </div>
    </div>
{% endblock %}
