<form action="" method="get" id="search">
    <div class="input-group">
        <input type="search" class="form-control" id="q" name="q" value="{{ app.request.get('q') }}"/>
        <span class="input-group-append">
            <button class="btn btn-light" type="submit">Search</button>
        </span>
    </div>
</form>

<script type="text/javascript">
    $('#search').submit(function(e) {
        e.preventDefault();
        var form = $(this);
        Turbolinks.visit(form.attr("action") + '?' + form.serialize());
    });
</script>