{% extends 'base.html.twig' %}

{% block body %}
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    {% include 'partials/layout/_header_nav.html.twig' %}
    <div class="app-body">
        {% include 'partials/layout/_sidebar.html.twig' %}
        <main class="main">
            {% block breadcrumb %}
                <ol class="breadcrumb">
                    {% block breadcrumbContent %}{% endblock %}
                </ol>
            {% endblock %}
            <div class="container-fluid">
                {% block header %}
                    <div class="d-flex justify-content-between mt-4 mb-3">
                        {% block headerContent %}<h1 class="h3">Dashboard</h1>{% endblock %}
                    </div>
                {% endblock %}
                {# read and display all flash messages #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible" id="flashes" role="alert">
                            <strong>{{ message }}</strong>
                            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
    <footer class="app-footer">
        <div>
            <span>&copy; {{ "now"|date("Y") }} <a href="https://github.com/rickwest/shuut">Shuut 💨</a></span>
        </div>
    </footer>
</body>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        if ($("#flashes").length) {
            setTimeout(function() {
                $("#flashes").fadeOut('slow')
            }, 2000);
        }
    </script>
{% endblock %}