{% extends 'layouts/admin.html.twig' %}

{% import 'partials/_macros.html.twig' as macros %}

{% block title %}Customers{% endblock %}

{% block headerContent %}
    <h1 class="h3">Customers</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ path('customer_new') }}" class='btn btn-success float-md-right'><i class='fa fa-plus'></i>&nbsp;Add Customer</a>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-4">
                   {% include 'partials/_search.html.twig' %}
                </div>
            </div>
            {{ macros.table(table) }}
        </div>
    </div>
{% endblock %}