<div class="row mb-4">
    <div class="col">
        <button class="btn btn-success" type="submit"><i class="fa fa-save"></i>&nbsp;{{ submitLabel|default('Save') }}</button>
        <a class="btn btn-ghost-primary" href="{{ path(routeNamePrefix ~ 'index') }}">Back to list</a>
    </div>
</div>